.slika:hover {
  transform: scale(1.5);
  overflow: hidden;
  transition: transform 0.5s ease;
}
.top-proizvodi {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 10px;
}
.torte {
  display: flex;
  height: 35vw;
  margin-top: 5%;
}
.torte h1 {
  text-align: center;
}
.torte p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.tajmer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 40%;
  padding-right: 40%;
}

.akcija {
  text-align: center;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.tparagraf {
  font-size: 2rem;
}

.anketa {
  border-style: dashed;
  border-width: 3px;
  height: 300px;
  width: 300px;
  margin-left: 40%;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}
