.slika:hover {
  transform: scale(1.5);
  overflow: hidden;
  transition: transform 0.5s ease;
}

.tajmer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  margin-left: 10vw;
  margin-right: 4vw;

  padding-left: 10%;
  padding-right: 10%;
  font-family: "Montserrat";
  color: #04aa6d;
  /* font-weight: bold; */
}

.akcija-container {
  
  margin-top: 50px;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 100%;
  padding: 10px;
  border-color: black;
}

.akcija {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat";
}
.tparagraf {
  font-size: 2rem;
}