@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Corinthia:wght@700&family=Montserrat:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat";
}

.nav-bar {
  font-weight: 300;
  font-size: 16px;
  color: black;
}

.nav-bar :hover {
  color: rgba(154, 244, 219, 255);
  background-color: #04aa6d;
  color: white;
  transition: 0.3s;
}

.nav-bar a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding: 5px 5px;
}

.nav-bar a.active {
  background-color: #04aa6d;
  color: white;
}

.nav-bar-mini {
  font-weight: 300;
  font-size: 16px;
  color: black;
}
.nav-bar-mini :hover {
  background-color: #04aa6d;
  color: white;
  transition: 0.3s;
}
.nav-bar-mini a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}
.nav-bar-mini a.active {
  background-color: #04aa6d;
  color: white;
}

@media screen and (min-width: 600px) {
  .nav-bar-mini {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    display: none;
  }
  .nav-bar-mini a:not(:first-child) {
    display: none;
  }
  .nav-bar-mini a.icon {
    float: absolute;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar-mini.responsive {
    position: relative;
  }
  .nav-bar-mini.responsive a.icon {
    float: absolute;
    left: 0;
    top: 0;
  }
  .nav-bar-mini.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .column {
    display: none;
  }
}

#my-icon {
  background-color: white;
}

#my-icon :hover {
  background-color: white;
}

#my-icon a.active {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  padding-right: 100px;
}

.glavni-naslov {
  font-family: "Comforter Brush";
  color: rgb(25, 16, 16);
}

.logo {
  max-width: 100%;
  height: auto;
}

.glavna-sekcija {
  background-image: url("../images/glavna-1.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
}
.glavna-sekcija h1 {
  text-align: center;
  padding: 8% 8% 8% 3%;
  font-size: 6rem;
  color: black;
  font-family: "Corinthia";
}

.footer {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(231, 231, 231);
}

.logo-footer {
  float: left;
}

.column {
  float: left;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.column a {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.left {
  width: 15%;
}

.middle {
  margin-top: 10px;
  width: 5%;
}

.right {
  width: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
